@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family:'TitleFont';
    src: local('TitleFont'),
         local('Chomsky'),
         local('chomsky-webfont'),
         url('./fonts/chomsky-webfont.woff2') format('woff2'),
         url('./fonts/chomsky-webfont.woff') format('woff');
}

:root {
    --pink-color:rgb(255 62 181);
    --pink-color-alpha:rgba(255 62 181, .5);
    --pink-lighter:rgb(255, 85, 200);
    --pink-hex:#FF3EB5;
    --yellow-color:rgb(255 233 0);
    --yellow-hex:#FFE900;
    --title-font:'TitleFont', 'Times New Roman';
    --header-font:'Metal Mania', cursive;
    --paragraph-font:'Amaranth', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
}
button {
    font-family: var(--header-font);
}
section p, span, select, #carry_capacity div p span  {
    font-family: var(--paragraph-font);
}
#header {
    position:relative;
    display:block;
    height:100px;
    font-size:2em;
    text-align:center;
    letter-spacing:-1.2px;
    z-index:1;
    color:white;
    text-shadow: 0px 0px 5px black, 2px 2px 2px black, 2px 0px 2px black, -2px 0px 2px black;
}
#morkborg_app {
    position:relative;
    margin:0;
    padding:0;
    overflow:hidden;
    min-height:2000px;
}
#back_img_layout {
    position:absolute;
    flex-direction:column;
    top:0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    margin:0;
    z-index:-1;
    
}
#morkborg_app #back_img_layout img {
    position:absolute;
    top:0;
    width: 100%;
    min-height:1058px;
    height:fit-content;
    object-fit: cover;
    margin:0px;
    background:radial-gradient(ellipse at center, var(--yellow-color), rgb(155, 120, 22));
}
#back_img_layout #back_color {
    position:relative;
    width: 100%;
    height:100%;
    overflow: clip;
    background-color:black;
    z-index:-1;
    margin:0px;
}

#front_img_layout {
    display:grid;
    grid-template-columns:60% 40%;
    grid-template-rows: 12% 16% 18% 18% 18% 18%;
    min-width: 200px;
    height:606px;
    width:278px;
    margin:auto auto auto auto;
    z-index:1;
}
#morkborg_app #front_img_layout img:nth-of-type(1) {
    grid-column:1/3;
    grid-row: 1/6;
    height:606px;
    object-fit:none;
    overflow:hidden;
    margin:auto auto;
    filter:drop-shadow(0px .5px 2px black);
}
#morkborg_app #front_img_layout img:nth-of-type(2) {
    margin-top:5px;
    margin-left:10px;
    justify-self:center;
    grid-column:1;
    grid-row:1;
    transform:scale(.92, 1.15);
    filter:drop-shadow(1px 2.5px .75px black);
}
#morkborg_app #front_img_layout img:nth-of-type(3) {
    height:60px;
    margin-top:32px;
    margin-right:20px;
    justify-self:center;
    grid-column:2;
    grid-row:1;
    transform:scale(.85, 1);
    filter:drop-shadow(1px 2.5px .75px black);
}
#morkborg_app #front_img_layout img:nth-of-type(4),
#morkborg_app #front_img_layout img:nth-of-type(5),
#morkborg_app #front_img_layout img:nth-of-type(6),
#morkborg_app #front_img_layout img:nth-of-type(7) {
    filter:drop-shadow(1px 2.5px .75px black);
    height:62px;
    justify-self:center;
    grid-column:1;
}
#morkborg_app #front_img_layout img:nth-of-type(4){grid-row:3;margin:32px auto auto 6px;transform:rotate(-3deg) scale(.9, 1.2)}
#morkborg_app #front_img_layout img:nth-of-type(5){grid-row:4;margin:25px auto auto 6px;transform:rotate(1deg) scale(.9, 1.2)}
#morkborg_app #front_img_layout img:nth-of-type(6){grid-row:5;margin:17px auto auto 6px;transform:scale(.95, 1.2)}
#morkborg_app #front_img_layout img:nth-of-type(7){grid-row:6;margin:15px auto auto 0px;transform:rotate(-1deg) scale(.95, 1.2)}

#morkborg_app #front_img_layout p{position:relative;}
#morkborg_app #front_img_layout p:nth-of-type(1){
    display:inline-block;
    margin:12px auto auto -5px;
    grid-column:1;
    grid-row:2;
    text-shadow: 1px 0px .5px white, -1px 0px .5px black;
    text-align:center;
}
#morkborg_app #front_img_layout p:nth-of-type(2){
    margin:28px auto auto -6px;
    grid-column:2;
    grid-row:2;
    color:white;
    text-shadow: 1px 0px .5px white, -1px 0px .5px black;
}
#morkborg_app #front_img_layout p:nth-of-type(3),
#morkborg_app #front_img_layout p:nth-of-type(4),
#morkborg_app #front_img_layout p:nth-of-type(5),
#morkborg_app #front_img_layout p:nth-of-type(6){
    padding:0px;
    margin-bottom:0;
    margin-left:-62%;
    text-align:right;
    align-self:center;
    grid-column:2;
}
#morkborg_app #front_img_layout p:nth-of-type(3){grid-row:3;margin-top:40px;}
#morkborg_app #front_img_layout p:nth-of-type(4){grid-row:4;margin-top:25px;}
#morkborg_app #front_img_layout p:nth-of-type(5){grid-row:5;margin-top:8px;}
#morkborg_app #front_img_layout p:nth-of-type(6){grid-row:6;margin-top:-8px;}

#silver_food {
    margin:0px 0px 3em 0px;
}

#silver_food picture{
    display:grid;
    width:260px;
    height:140px;
    margin:2.5em auto auto;

}
#silver_food picture img:nth-of-type(1){
    display:flex;
    position:relative;
    grid-column:1/5;
    grid-row:1;
    align-items:center;
    justify-self:center;
    filter:drop-shadow(0px .5px 2px var(--pink-color-alpha));
}
#silver_food picture img:nth-of-type(2),
#silver_food picture img:nth-of-type(3){
    filter:drop-shadow(1px 2.5px .75px black);
}
#silver_food picture img:nth-of-type(2){
    position:relative;
    object-fit:cover;
    width:100px;
    height:65px;
    grid-column:2;
    grid-row:1;
    margin:-30px 26px auto 0px;
    transform:rotate(3deg) scale(1, 1);
}
#silver_food picture img:nth-of-type(3){
    position:relative;
    object-fit:cover;
    width:100px;
    height:65px;
    grid-column:3;
    grid-row:1;
    margin:0 -19px auto 19px;
}
#silver_food picture p{
    position:relative;
    grid-row:1;
}
#silver_food picture p:nth-of-type(1) {
    display:inline-block;
    width:100%;
    margin:auto auto 45px -10px;
    grid-column:2;
    grid-row:1;
    align-self:center;
    justify-self:center;
    text-align:center;
}
#silver_food picture p:nth-of-type(2) {
    width:1em;
    margin:auto 0px 30px 50px;
    grid-column:3;
    grid-row:1;
}

#horizontal-container section {
    position:relative;
    height:52px;
    width:calc(80vw - 4px);
    margin:2.5em 10vw 2em 10vw;
    background-color:white;
    border:2px solid white;
    border-radius:4px;
    outline: 2px solid rgb(120, 40, 85);
    filter:drop-shadow(0px 3px 5px rgb(120, 40, 85));
}

#character_info_container{z-index:6;}
#ability{z-index:5;}
#equipment{z-index:4;}
#weapon{z-index:3;}
#armor{z-index:2;}

#horizontal-container section button, #carry_capacity div {
    width:100%;
    height:100%;
    font-size:1.5em;
    font-weight:bold;
    border-width: 4px;
    border-color:var(--pink-color);
    border-radius:5px;
    background-color:black;
    color:var(--pink-lighter);
    text-shadow:.75px 0px .5px black, 0px 1px 1.5px black;
}
#horizontal-container section button span{
    display:inline;
    width:2em;
    height: .5rem;
    margin:auto auto auto 12.5px;
    transform:scale(1.25,.75)
}

.character_info {
    display:none;
    opacity:1;
    background-color:rgba(0,0,0,.95);
    width:100%;
    margin:4px 0px 0px -2px;
    border:2px solid white;
    outline: 2px solid rgb(120, 40, 85);
    font-size:1.25em;
    flex-direction:column;
}
.character_info p {
    height:100%;
    width:calc(100% - 8px);
    opacity:1;
    border-bottom:2px solid white;
    line-height:1.4;
    letter-spacing:.1px;
    color:white;
    margin:0px 0px -2px 0px;
    padding: 1px 5px 1px 5px;
    text-indent: 5px;
}
.character_info p:nth-of-type(1){
    line-height:1.75em;
    font-size:1.1em;
    font-weight:bold;
}
#ability div p:nth-of-type(1){font-size:1em;}
.character_info p span {
    float:left;
    min-width:54px;
    padding: 2px 5px 0px 5px;
    text-align:center;
    border-bottom:2px solid white;
    border-right:2px solid white;
    margin: -1px 0px -3px -5px;
    border-bottom-right-radius: 5px;
    color:var(--pink-lighter);
    text-shadow: 2px .5px 1px black, 1px 0px .5px var(--pink-color), -.5px 0px 0px var(--pink-color), 0px .75px 1px black;
}

#equipment div, #ability div, #carry_capacity div{
    background-color:white;
    border-color:black;
}
#equipment div p, #ability div p{
    color: black;
    border-bottom-color: black;
}
#equipment div p span, #ability div p span{border-color:black;}
#ability div p {font-weight:100;}
#ability div p b {font-weight:bold;}
#weapon div p:nth-of-type(1), #armor div p:nth-of-type(1) {
    line-height:1.75em;
    font-size:1.1em;
    text-align:center;
}
#horizontal-container #carry_capacity {border-radius:0px;border-color:var(--yellow-color);}
#carry_capacity div {
    display:flex;
    height:calc(100% - 8px);
    width:calc(100% - 8px);
    font-weight: bold;
    color:white;
    border: 4px solid var(--pink-color);
    border-radius:0px;
    background-color:black;
}
#carry_capacity div p {
    margin:auto;
    text-align:center;
}
#carry_capacity div p span {color:var(--pink-lighter);margin-right:.5em;}


#footer_bar{
    display:flex;
    flex-direction:column;
    position:fixed;
    bottom:0%;
    width:100%;
    z-index:10;
}
#class {
    height:32px;
    font-size:1.25em;
    font-weight:bold;
    text-shadow:.75px 0px 0px black;
    border: 4px solid rgb(80, 80, 80);
    margin-bottom:0px;
    background-color:var(--yellow-color);
    text-align:center;
}
#class div {
    background-color:var(--yellow-color);
    display:flex;
    height:28px;
    overflow:hidden;
    flex-direction:row;
    justify-content:space-between;
    border: 4px solid black;
}
#class div span{
    display:inline-block;
    width:35%;
    background-color:var(--yellow-color);
}
#class div #class_select{
    display:inline-block;
    width:65%;
    appearance: button;
    text-align:center;
    background-color:black;
    color:white;
    border:3px solid var(--yellow-color);
    outline:3px solid black;
    border-radius:6px;
    font-weight:bold;
    margin:0px;
    justify-self:center;
}
#class_select option{
    font-weight:bold;
    appearance:none;
    color:white;
    background-color:black;
    border:0px;
}
#footer_content {
    display:grid;
    height:62px;
    border: 4px solid rgb(80, 80, 80);
    width:calc(100vw - 8px);
    margin:0;
    background-color:rgb(110, 110, 110);
}
#blackbar {
    min-height:4px;
    width:100%;
    background-color: black;
}
#footer_content img{
    grid-column:1;
    grid-row:1;
    margin:-5px auto auto auto;
    transition: transform .02s;
}
#footer_content button {
    display:flex;
    grid-column:1;
    grid-row:1;
    height: fit-content;
    width: 8em;
    height:1.75em;
    font-size:2em;
    font-weight:900;
    margin:2px auto auto auto;
    background-color: transparent;
    border-color:transparent;
    color:white;
    justify-content:center;
    align-items:center;
    text-shadow: 1.5px 1px .5px rgb(230, 230, 230), 2px 1.5px .5px rgb(200, 200, 200);
    transition: transform .02s;
}
#footer_content button:active{
    transform:scale(1.1, 1);
}
.attribute {
    width:100%;
    color: white;
    font-size: 2.5em;
    text-shadow: 0px 0px 5px black, 2px 2px 2px black, 2px 0px 2px black;
    text-align:center;
}
.display-flex {
    display:flex;
}

/*Pens, styluses, mouses*/
@media (pointer: fine) {
    #character_info_container button:hover, #equipment button:hover,
    #weapon button:hover, #armor button:hover, #ability button:hover {
        color: white;
        background-color:var(--pink-lighter);
        text-shadow:1px 0px .5px white, 0px 1px 2px white;
        border-color: grey;
    }
}

/*TV's Mobile devices, etc*/
@media (pointer: coarse) {
    
}